:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  --border-radius: 8px;
  --border-radius-top: 8px 8px 0px 0px;
  --border-radius-bottom: 0px 0px 8px 8px;
  --border-radius-left: 8px 0px 0px 8px;
  --border-radius-right: 0px 8px 8px 0px;
  --input-border: 2rem solid;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input, select {
  border-radius: var(--border-radius);
  border: 1px solid #bbb;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdfdfd;
  /*cursor: pointer;*/
  transition: border-color 0.25s;
  box-shadow: var(--box-shadow);
}

.ui-form input:not(:focus):valid {
  border-left: var(--input-border);
  border-left-color: lightgreen;

}

.ui-form input:not(:focus):not(:placeholder-shown):invalid {
  border-left: var(--input-border);
  border-left-color: #fe5050;
}

.ui-form input:not(:focus):not(:placeholder-shown):invalid + .ui-input-label_hint {
  font-weight: 700;
  color: #fe5050;
  opacity: 1;
}

.ui-input-label_reqs {
  opacity: 0;
  transition: opacity .25s;
  cursor: default;
}

.ui-form input:focus + .ui-input-label_reqs {
    opacity: 1;
}

.ui-form input:focus:invalid + .ui-input-label_reqs {
  font-weight: 700;
  color: #fe5050;
}

.ui-form input:focus:empty + .ui-input-label_reqs {
  font-weight: inherit;
  color: inherit;
}

.ui-form input:placeholder-shown {
  border-left: var(--input-border);
  border-left-color: lightgray;
}

.ui-form input:focus {
  border-left: var(--input-border);
  border-left-color: darkgrey;
}

input[type="number"] {
  appearance: textfield;
}

input[type="checkbox"] {
  min-width: 1.25rem;
  min-height: 1.25rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  margin-right: .5rem;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  border-color: #646cff;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

label {
  display: block;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
