<!DOCTYPE html>
<html>
  <head>
    <title>freeCodeCamp's Exercise Tracker by @pano9000</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main class="container">
      <h1>Exercise Tracker</h1>
      <form action="/api/users" method="post">
        <h3>Create a New User</h3>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="username" />
        <input type="submit" value="Submit" />
      </form>
      <form id="exercise-form" method="post">
        <h3>Add exercises</h3>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <input id="uid" type="text" name="userId" placeholder=":_id" />
        <input id="desc" type="text" name="description" placeholder="description*" />
        <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" />
        <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
        <input type="submit" value="Submit" />
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      <h2>Mock "Admin" Interface</h2>
      <div id="nav-wrap">
        <nav id="admin-ui_navbar-main">
          <a id="btn-nav-main_create" class="btn-nav btn-nav_active" href="#">Create</a>
          <a id="btn-nav-main_read" class="btn-nav" href="#">Read</a>
          <a id="btn-nav-main_update" class="btn-nav" href="#">Update</a>
          <a id="btn-nav-main_delete" class="btn-nav" href="#">Delete</a>
        </nav>
      </div>
      <section id="admin-ui_section-create" class="admin-ui_section_action admin-ui_section_action_active">
        <h2>Create</h2>
        <div id="nav-wrap">

          <nav id="admin-ui_navbar-create">
            <a id="btn-nav-create_createuser" class="btn-nav btn-nav_active" href="#section_createuser">Create User</a>
            <a id="btn-nav-create_createexercise" class="btn-nav" href="#section_createexercise">Create Exercise</a>
          </nav>

        </div>


        <div id="admin-ui_section-createuser" class="admin-ui_section_action admin-ui_section_subaction admin-ui_section_action_active">
          <h3>Create New User</h3>
          <form action="/api/users" method="post" id="admin-ui_form-createuser" class="">
            <h4>Username Requirements </h4>
            <ul>
              <li>Allowed characters:
                <ul>
                  <li>Numbers: <span class="label-characters">0-9</span></li>
                  <li>Letters: <span class="label-characters">a-z</span> (lowercase)</li>
                  <li><span class="label-characters">-</span> (hyphen)</li>
                  <li><span class="label-characters">_</span> (underscore)</li>
                </ul>
              </li>
              <li>Minimum length: 3 characters</li>
              <li>Maximum length: 30 characters</li>
            </ul>
            <input type="text" placeholder="Username" name="username" required pattern="^[0-9a-z-_]{3,30}$">
            <button type="submit">Create User</button>
          </form>
          <p>Alternatively: <span class="label-rest label-http-verb">POST</span> <span class="label-rest label-api-route">/api/users</span></p>
        </div>

        <div id="admin-ui_section-createexercise" class="admin-ui_section_action admin-ui_section_subaction">
          <h3>Create New Exercise</h3>
          <form action="/api/users/:userId/exercises" id="admin-ui_form-createexercise" method="post">
            <input type="text" name="userId" placeholder="User Id" required pattern="^[a-zA-Z]{1,5}_[0-9a-f]{24}$">
            <input type="text" name="description" placeholder="Description" required min="3" max="50">
            <input type="text" name="duration" placeholder="Duration" required min="1" max="3">
            <input type="date" name="date" placeholder="date">
            <button type="submit">Create Exercise</button>
          </form>
          <p>Alternatively: <span class="label-rest label-http-verb">POST</span> <span class="label-rest label-api-route">/api/users/:userId/exercises</span></p>
        </div>

      </section>
      <section id="admin-ui_section-read" class="admin-ui_section_action">
        <h2>Read</h2>
        <div id="nav-wrap">

          <nav id="admin-ui_navbar-read">
            <a id="btn-nav-read_readoneuser" class="btn-nav btn-nav_active" href="#admin-ui_section-readoneuser">Show One User</a>
            <a id="btn-nav-read_readallusers" class="btn-nav" href="#admin-ui_section-readallusers">Show All Users</a>
            <a id="btn-nav-read_readuserexercise" class="btn-nav" href="#admin-ui_section-readuserexercise">Show User's Exercise Log</a>
          </nav>

        </div>

        <div id="admin-ui_section-readoneuser" class="admin-ui_section_action admin-ui_section_subaction">
          <h3>Show One User</h3>
          <form>
            <input type="text" placeholder="User Id" required pattern="^[a-zA-Z]{1,5}_[0-9a-f]{24}$">
            <input type="text" placeholder="Description" required min="3" max="50">
            <input type="text" placeholder="Duration" required min="1" max="3">
            <input type="date" placeholder="date">
            <button type="submit">Create Exercise</button>
          </form>
          <p>Alternatively: <span class="label-rest label-http-verb">GET</span> <span class="label-rest label-api-route">/api/users/:userId</span></p>
        </div>

        <div id="admin-ui_section-readallusers" class="admin-ui_section_action admin-ui_section_subaction admin-ui_section_action_active">
          <h3>Show All Users</h3>
          <pre>
            abc
          </pre>  
          <p>Alternatively: <span class="label-rest label-http-verb">GET</span> <span class="label-rest label-api-route">/api/users</span></p>
        </div>



        <div id="admin-ui_section-readuserexercise" class="admin-ui_section_action admin-ui_section_subaction">
          <h3>Show User's Exercise Log</h3>
          <form>
            <input type="text" placeholder="User Id" required pattern="^[a-zA-Z]{1,5}_[0-9a-f]{24}$">
            <input type="text" placeholder="Description" required min="3" max="50">
            <input type="text" placeholder="Duration" required min="1" max="3">
            <input type="date" placeholder="date">
            <button type="submit">Create Exercise</button>
          </form>
          <p>Alternatively: <span class="label-rest label-http-verb">POST</span> <span class="label-rest label-api-route">/api/users/:userId/exercises</span>
            ?[from][&to][&limit]
          </p>
        </div>



        <div>
          <div>
            <h3>Get All Users</h3>
          </div>
          <div>
            <h3>Get One User</h3>
          </div>
          <div>
            <h3>Get User's Exercise Log</h3>
            <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
          </div>
        </div>
      </section>
      <section id="admin-ui_section-update" class="admin-ui_section_action">
        <h2>Update</h2>
        <div>TODO</div>
      </section>
      <section id="admin-ui_section-delete" class="admin-ui_section_action">
        <h2>Delete</h2>
        <div>Delete User: DELETE /api/users/:userId</div>
        <div>Delete Exercise: DELETE /api/users/:userId</div>
      </section>
    </main>
    <hr>
    <footer>
      <p>Original Boilerplate By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
      <p>Solution by <a href="https://github.com/pano9000">pano9000</a></p>
    </footer>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>


  <script src="dist.js"></script>
  </body>
</html>
